.top{
    text-align: right;
    margin-left: 25px;
}

.top a{
    text-decoration: none;
}

.logo{
    margin-top: 150px;
    text-align: center;
}

.container{
    display: flex;
    margin: 45px auto;
    border: 2px solid rgb(207, 204, 202);
    height: 40px;
    width: 600px;
    border-radius: 30px;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.buton{
    text-align: center;
    cursor: pointer;
    user-select: none;
    background: #f5f0f0;
    border-radius: 3px;
    border: 2px solid #f5f0f0;
    color:rgb(99, 96, 95);
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 51px;
}

.buton:hover{
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    color: #3c4043;

}

.buton a {
    color: #3c4043;
    text-decoration:none;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.ust {
    display: block;
    padding: 5px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    font-family: arial,sans-serif;
    color: #70757a;
    background-color: #f2f2f2;
}

.alt {
    display: block;
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    font-family: arial,sans-serif;
    color: #70757a;
    background-color: #f2f2f2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.alt a {
    text-decoration:none;
    color: #70757a;
}

.alt a:hover {
    text-decoration: underline;
}